

append vars
	
block body-start
	section.home
		section.navigation
			header
				.header__content
					.row
						.columns.small-4
							.logo
								a(href="#") Startup
						.columns
							.header__nav
								nav
									ul.menu.align-right
										li 
											a(href="#") Home 
										li 
											a(href="#") Services
										li 
											a(href="#") About
										li 
											a(href="#") Works
										li
											a(href="#")  Blog 
										li
											a(href="#") Clients         
										li
											a(href="#") Contact
		

	
		.row
			.columns
				.home__content
					h1 welcome to startup
					p Your Favourite Creative Agency Template
					a.button.large get started
	


				
				