extends pug/base

append vars
	//- ...
block content
	section.home
		section.navigation
			header
				.header__content
					.row
						.columns.small-4
							.logo
								a(href="#") Startup
						.columns
							.header__nav
								nav
									ul.menu.align-right
										li 
											a(href="#") Home 
										li 
											a(href="#") Services
										li 
											a(href="#") About
										li 
											a(href="#") Works
										li
											a(href="#")  Blog 
										li
											a(href="#") Clients         
										li
											a(href="#") Contact
		

	
		.row
			.columns
				.home__content
					h1 welcome to startup
					p Your Favourite Creative Agency Template
					a.button.large get started
	

	section.services
		.row.align-center
			.small-12.column.text-center
				.section-title
					h1 Services
					.line
					p We offer ipsum dolor sit amet, consetetur sadipscing elitr amet

				.services__features
					.row
						.columns.small-12.medium-expand
							.services__features-item
								.services__features-icon
									i.icon-typography
								.services__features-text
									h4 Clean Typography

								.services__features-text
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.

						.columns.small-12.medium-expand
							.services__features-item
								.services__features-icon
									i.icon-code
								.services__features-text
									h4 Rock Solid Code
								.services__features-text
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
						.columns.small-12.medium-expand
							.services__features-item
								.services__features-icon
									i.icon-support

								.services__features-text
									h4 Expert Support

								.services__features-text
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
			
				


	section#about-section
		.row.align-center
			.small-12.column.text-center
				.section-title
					h1 About us
					.line
					p Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
				#about-section__content
					.columns.small-6.medium-expand
						p  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
					.columns.small-6.medium-expand
						p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
				.sl
					.myslider
						div
							img(src="../images/Layer-12.png", alt="browser")
						div
							img(src="../images/Layer-13.png", alt="browser")
						div
							
						div
							img(src="../images/Layer-16.png", alt="browser")
						


				
				