extends pug/base
append vars
	- title = 'Home';

block body-start
	include header		
block content
	
	section.services
		.row.align-center
			.small-12.column.text-center
				.section-title
					h1 Services
					.line
					p.inline We offer ipsum dolor sit amet, consetetur sadipscing elitr amet

				.services__features
					.row
						.columns.small-12.medium-expand
							.services__features-item
								.services__features-icon
									i.icon-typography
								.services__features-text
									h4 Clean Typography

								.services__features-text
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.

						.columns.small-12.medium-expand
							.services__features-item
								.services__features-icon
									i.icon-code
								.services__features-text
									h4 Rock Solid Code
								.services__features-text
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
						.columns.small-12.medium-expand
							.services__features-item
								.services__features-icon
									i.icon-support

								.services__features-text
									h4 Expert Support

								.services__features-text
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
			
				


	section#about-section
		.row.align-center
			.large-12.columns.text-center
				#about-section-title
					h1 About us
					.line
					p.inline Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
				#about-section__content
					.columns.small-6.medium-expand
						p  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
					.columns.small-6.medium-expand
						p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
				
				#about-section__slder
					.slick-slider
						.slider__content
							.slider__content_header
								img( class='vrvs' src="../images/Layer-14.png", alt="browser")

							.slider__content_footer
									h2 Md. Khalil Uddin
									span Head of Ideas
						.slider__content
							.slider__content_header
								img( class='vrvs' src="../images/Layer-13.png", alt="browser")
							.slider__content_footer
								h2 Md. Khalil Uddin
								span Head of Ideas
						.slider__content
							.slider__content_header
								img( class='vrvs' src="../images/Layer-15.png", alt="browser")
							.slider__content_footer
								h2 Md. Khalil Uddin
								span Head of Ideas
						.slider__content
							.slider__content_header
								img( class='vrvs' src="../images/Layer-16.png", alt="browser")
							.slider__content_footer
									h2 Md. Khalil Uddin
									span Head of Ideas
						.slider__content
							.slider__content_header
								img( class='vrvs' src="../images/Layer-15.png", alt="browser")
							.slider__content_footer
								h2 Md. Khalil Uddin
								span Head of Ideas
							

								

	

	#works-section.text-center
		.row.align-center
			.small-12.columns
				.section-title
					h1 Latest works
					hr
					
				
				.categories
					
							ul.menu.align-center
								li
									a(href="#") All
								li
									a(href="#") Branding
								li
									a(href="#") Design
								li
									a(href="#") Development
								li
									a(href="#") Startegy

				.row.small-up-2.medium-up-3
							.column.small-4
										.single-work
												img( class='vrv' src="../images/work-2.png", alt="browser") 
							.column.small-4
										.single-work
												img( class='vrv' src="../images/work-1.png", alt="browser") 
							.column.small-4
										.single-work
												img( class='vrv' src="../images/work-3.png", alt="browser") 
							.column.small-4
										.single-work
												img( class='vrv' src="../images/work-4.png", alt="browser") 
							.column.small-4
										.single-work
												img( class='vrv' src="../images/work-5.png", alt="browser") 
							.column.small-4
										.single-work
												img( class='vrv' src="../images/work-6.png", alt="browser") 
							.column.small-4
										.single-work
												img( class='vrv' src="../images/work-7.png", alt="browser") 
							.column.small-4
										.single-work
												img( class='vrv' src="../images/work-8.png", alt="browser") 
							.column.small-4
										.single-work
												img( class='vrv' src="../images/work-9.png", alt="browser") 




						




	.paralax-section
		.bg-pal
			.row.align-center
				.large-12.columns.text-center
					.paralax-section__paralax
						p Do you like OUR WORK so far?
						p Let's talk about YOUR PROJECT!
						a.button.large get started
					